/* --------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  /* text-align: center; */
}

/* Header Styles ------------------------------------------------- */
.header {
  background-color: #aaa;
  /* width: 100%; */
  padding: 0 20px;

  text-transform: uppercase;

  display: flex;
  flex-direction: row;
}

.header nav {
  margin-left: auto;
  margin-right: 30px;

  display: flex;
  flex-direction: row;
}

.header nav li {
  list-style: none;
  padding: 10px;
  align-self: center;
}

.header a:link,
.header a:visited {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
